.header {
  padding: 0 48px;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  margin: 0;
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navigation-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.navigation .dropdown-menu {
  margin-top: 10px !important;
  width: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  padding: 0;
}

.dropdown-item {
  padding: 0 !important;
  color: #000 !important;
  font-size: 16px;
  background-color: #fff !important;
  font-weight: 600 !important;
}

.dropdown-menu > li {
  padding: 15px 26px;
}
.dropdown-toggle.show > img {
  rotate: 0deg;
}
.dropdown-toggle > img {
  rotate: 180deg;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-toggle::after {
  display: none !important;
}

.navigation-link:hover,
.navigation-link:active {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.navigation-list .active a.navigation-link {
  text-underline-offset: 5px;
  text-decoration: underline;
  font-weight: 700;
  color: #000;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: #6c4efe !important;
}

.download-btn {
  text-decoration: none;
  padding: 13px;
  color: #6c4efe;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #6c4efe;
  background: #fff;
}

.mobile-navigation-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}
.mobile-nav-icon {
  width: 24px;
  height: 24px;
  color: #212529;
}

.mobile-nav-icon.close {
  display: none;
}

.header-section {
  position: relative;
}

@media (max-width: 992px) {
  .header.active .title {
    color: #000;
    z-index: 999;
    transition: all 0.2s linear;
  }
  .header .title {
    font-size: 20px;
    font-weight: 700;
  }

  .header {
    padding: 0 !important;
  }

  .mobile-navigation-btn {
    display: block;
    color: #212529;
    z-index: 999;
  }

  .navigation {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navigation-list {
    padding: 0 16px;
    position: relative;
    top: 17%;
    gap: 49px;
    flex-direction: column;
  }

  .dropdown-menu {
    border: none !important;
    box-shadow: none !important;
  }

  .dropdown-menu > li {
    padding: 0;
  }

  .dropdown-item {
    padding-top: 10px !important;
    text-align: start !important;
    color: #000 !important;
    font-size: 14px;
    font-weight: 400 !important;
  }

  .active .navigation {
    z-index: 99;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .navigation-list .active a.navigation-link {
    text-decoration: none;
    color: #6c4efe;
  }

  .active .mobile-navigation-btn .mobile-nav-icon.close {
    display: block;
    position: fixed;
    top: 38px;
    right: 16px;
  }

  .active .mobile-navigation-btn .mobile-nav-icon.menu {
    display: none;
  }
}
