* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

footer {
  background: #23252e;
  color: #fff;
}

.header {
  padding: 0 48px;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  margin: 0;
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navigation-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.navigation .dropdown-menu {
  margin-top: 10px !important;
  width: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  padding: 0;
}

.dropdown-item {
  padding: 0 !important;
  color: #000 !important;
  font-size: 16px;
  background-color: #fff !important;
  font-weight: 600 !important;
}

.dropdown-menu > li {
  padding: 15px 26px;
}
.dropdown-toggle.show > img {
  rotate: 0deg;
}
.dropdown-toggle > img {
  rotate: 180deg;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-toggle::after {
  display: none !important;
}

.navigation-link:hover,
.navigation-link:active {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.navigation-list .active a.navigation-link {
  text-underline-offset: 5px;
  text-decoration: underline;
  font-weight: 700;
  color: #000;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: #6c4efe !important;
}

.download-btn {
  text-decoration: none;
  padding: 13px;
  color: #6c4efe;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #6c4efe;
  background: #fff;
}

.mobile-navigation-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 24px;
  height: 24px;
  color: #212529;
}

.utility-icon {
  height: 64px;
  width: 64px;
  margin-bottom: 30px;
}

.platform-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 122px;
  min-width: 217px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 10px rgba(228, 228, 228, 0.25);
}

.business-title {
  color: #6c4efe;
  font-size: 70px;
  font-weight: 700;
  line-height: 82px;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.business-content {
  font-size: 24px;
  font-weight: 400;
  max-width: 837px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-nav-icon.close {
  display: none;
}

@media (max-width: 992px) {
  section {
    padding: 0 16px;
  }
  .mobile-navigation-btn {
    display: block;
    color: #212529;
    z-index: 999;
  }

  .platform-container > div:first-child,
  .platform-container > div:last-child {
    display: none !important;
  }

  .platform-img {
    min-height: 55px;
    min-width: 90px;
    border-radius: 13px;
  }

  .header,
  .padding-0 {
    padding: 0 !important;
  }

  .header.active .title {
    color: #000;
    z-index: 999;
    transition: all 0.2s linear;
  }
  .header .title {
    font-size: 20px;
    font-weight: 700;
  }

  .join-team-btn {
    border-radius: 12px !important;
    font-size: 20px !important;
    line-height: 10px !important;
    padding: 18px 26px !important;
  }

  .hiring-title {
    font-size: 32px !important;
    line-height: 30px !important;
  }

  .navigation {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navigation-list {
    padding: 0 16px;
    position: relative;
    top: 17%;
    gap: 49px;
    flex-direction: column;
  }

  .dropdown-menu {
    border: none !important;
    box-shadow: none !important;
  }

  .dropdown-menu > li {
    padding: 0;
  }

  .dropdown-item {
    padding-top: 10px !important;
    text-align: start !important;
    color: #000 !important;
    font-size: 14px;
    font-weight: 400 !important;
  }

  .active .navigation {
    z-index: 99;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .navigation-list .active a.navigation-link {
    text-decoration: none;
    color: #6c4efe;
  }

  .active .mobile-navigation-btn .mobile-nav-icon.close {
    display: block;
    position: fixed;
    top: 38px;
    right: 16px;
  }

  .active .mobile-navigation-btn .mobile-nav-icon.menu {
    display: none;
  }

  .teams-title {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .teams-content {
    font-size: 16px !important;
    line-height: 28px !important;
  }
  .team-heading {
    font-size: 24px !important;
    line-height: 36px !important;
    margin-bottom: 20px !important;
  }

  .hero-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 41.3px !important;
  }

  .hero-sub-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .section-heading {
    font-size: 24px !important;
    line-height: 36px !important;
    margin-top: 48px;
  }

  .section-content {
    font-size: 14px !important;
    margin-bottom: 10px !important;
  }

  .learn-button {
    width: 179px !important;
    height: 42px !important;
    font-size: 12px !important;
    border-radius: 8px !important;
    margin-bottom: 30px !important;
  }
  .iphone-img {
    width: 80%;
  }

  .iphone-2 {
    max-width: 218px !important;
  }

  .brand-bg {
    padding: 36px !important;
  }

  .roadmap-bg {
    height: auto !important;
  }
  .roadmap-bg .brand-title {
    font-size: 32px !important;
    line-height: 35px !important;
  }

  .brand-title {
    padding-bottom: 20px !important;
    font-size: 50px !important;
    line-height: 58px !important;
  }
  .brand-content {
    padding-bottom: 30px !important;
  }

  .slider .slide-track {
    height: 63px !important;
  }
  .slider .slide {
    font-size: 26px !important;
    line-height: 50px !important;
  }

  .token-section-heading {
    padding-top: 30px !important;
    font-size: 28px !important;
    line-height: 45px !important;
  }

  .animated-header.earn > :first-child {
    flex-basis: 100%;
  }

  .token-subtitle {
    font-size: 12px !important;
    line-height: 24px !important;
  }

  .token-title {
    font-size: 16px !important;
  }

  .token-bg {
    background: #fff !important;
    padding-bottom: 70px;
  }

  .ai-background {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .ai-agent-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .business-title {
    font-size: 32px !important;
    line-height: 37px !important;
  }

  .first-business-section {
    padding: 0 30px !important;
  }

  .business-content {
    font-size: 14px !important;
  }

  #faq {
    padding: 30px !important;
  }

  .business-sub-title {
    font-size: 16px !important;
    line-height: 34px !important;
  }

  .faq-heading {
    padding-bottom: 40px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
  }

  .faq-title {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
  }
  .faq-title > img {
    width: 15px;
  }

  .faq-content {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    padding-top: 6px !important;
  }

  .ai-agent-content {
    font-size: 14px !important;
  }

  .background-gradient {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .background-gradient-mobile {
    margin-top: 90px;
    background: linear-gradient(
      180deg,
      rgba(64, 117, 255, 0.76) 0%,
      rgba(172, 220, 211, 0) 60%
    );
  }

  .data-card {
    margin-bottom: 60px !important;
  }

  .data-item {
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .shopping-section-heading {
    font-size: 3.2rem !important;
    line-height: 43px !important;
  }

  .shopping-section-sub-heading {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
  }

  .timeline ul li {
    list-style: none;
    position: relative;
  }

  .timeline li .item {
    padding-left: 24px;
    min-height: 194px;
    border-left: 4px solid #6e4bee;
  }
  .timeline li:last-child .item {
    border-left: 4px solid transparent;
  }
  .timeline li .item > span img {
    width: 30px;
  }
  .timeline li .item > span {
    position: absolute;
    top: -15px;
    left: -14px;
  }
  .timeline .content .title {
    font-size: 22px;
    font-weight: 700;
  }
  .timeline .content .title span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .timeline .content {
    position: absolute;
    top: -20px;
  }

  .data-title {
    justify-content: center !important;
    font-size: 20px !important;
    line-height: 23px !important;
    margin-bottom: 20px !important;
  }

  .book-demo-btn {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 0 !important;
    padding: 14px 68px !important;
  }

  .business-brand-title {
    font-size: 24px !important;
    line-height: 34px !important;
  }

  .data-section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .timeline .content > p {
    border-radius: 10px;
    background: #6c4efe;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    width: 243px;
    padding: 10px;
  }

  .hero-image {
    max-width: 273px !important;
  }

  .iphone-4,
  .iPhone-13-pro,
  .iphone-section-4,
  .iPhone-12-pro {
    max-width: 219px !important;
  }
}

.iPhone-12-pro {
  max-width: 268px;
  height: auto;
}

.iPhone-13-pro {
  max-width: 467px;
  height: auto;
}

.iphone-section-4 {
  max-width: 378px;
  height: auto;
}

.iphone-2 {
  max-width: 445px;
  height: auto;
}

.iphone-4 {
  max-width: 525px;
  height: auto;
}

.data-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.coming-soon {
  margin-bottom: 10px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  width: 128px;
  height: 28px;
  border-radius: 8px;
  background: linear-gradient(309deg, #6c4efe 0%, #1fd9f2 100%);
}

.header-section {
  position: relative;
}

.business-sub-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 34px;
}

.openings-btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 38px;
  background: #6c4efe;
  padding: 11px 33px 12px 29px;
  border-style: none;
  color: #fff;
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.hero-image {
  max-width: 645px;
  height: auto;
}

.gradient-bg {
  position: relative;
  background-repeat: no-repeat;
  background-image: image-set(
    url("../images/background/line_texture.jpg") 1x,
    url("../images/background/line_texture@2x.jpg") 2x
  );
  background-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.tokenomics-bg {
  border-radius: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(64, 117, 255, 0.76) 0%,
    rgba(172, 220, 211, 0) 40%
  );
}

.roadmap-image {
  right: 5%;
  width: 90% !important;
  top: 54%;
}

.roadmap-bg {
  height: 1280px;
  background-repeat: no-repeat;
  background-image: image-set(
    url("../images/background/roadmap-bg.png") 1x,
    url("../images/background/roadmap-bg@2x.png") 2x
  );
  background-size: cover;
}

.brand-bg {
  max-height: 464px;
  padding: 120px;
  background-repeat: no-repeat;
  background-image: image-set(
    url("../images/background/brand-bg.png") 1x,
    url("../images/background/brand-bg@2x.png") 2x
  );
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-decoration: none;
  color: #ffffff;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.sub-title {
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #d9dbe1;
}
.sub-title-footer {
  font-size: 14px !important;
  line-height: 24px !important;
}
.social-icons {
  column-gap: 12px;
}

.hero-title {
  max-width: 536px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #000000;
}
.hero-sub-title {
  max-width: 480px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.first-business-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.learn-button {
  border: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 263px;
  height: 52px;
  background: #6c4efe;
  border-radius: 18px;
}

.brand-bg .learn-button {
  background: #ffffff;
  color: #6c4efe;
}

.ai-background {
  background: linear-gradient(
    186deg,
    rgba(223, 214, 255, 0.53) 9.3%,
    rgba(232, 225, 254, 0.72) 42.75%,
    rgba(238, 233, 253, 0.52) 65.53%,
    rgba(178, 166, 216, 0) 171.19%
  );
}

.ai-agent-title {
  background: linear-gradient(309deg, #6c4efe 21.17%, #1fd9f2 91.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.ai-agent-content {
  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.section-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #737373;
}

.highlight-text {
  color: #6a38fd;
}

.token-bg {
  background: #fafafa;
  padding-bottom: 50px;
}

.token-section-heading {
  font-weight: 600;
  font-size: 82px;
  line-height: 103px;
  color: #000000;
}
.token-section-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  color: #000000;
}
.token-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 39px;
  color: #000000;
}
.token-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -1px;
  color: #6a38fd;
}

.background-gradient {
  background: linear-gradient(
    180deg,
    rgba(64, 117, 255, 0.76) 0%,
    rgba(172, 220, 211, 0) 100%
  );
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.slider {
  background: #000;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider .slide-track {
  height: 110px;
  animation: scroll 10s linear infinite;
}
.slider .slide {
  width: fit-content;
  font-weight: 500;
  font-size: 45px;
  line-height: 89px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.teams-title {
  color: #000;
  font-size: 54px;
  font-weight: 700;
  line-height: 76px;
  max-width: 940px;
}

.teams-content {
  color: #000;
  font-size: 22px;
}
.team-heading {
  color: #000;
  font-size: 46px;
  line-height: 34px;
}

.book-demo-btn {
  border-radius: 10px;
  background: #6c4efe;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  padding: 34px 96px;
  border-style: none;
  color: #fff;
  margin-top: 200px;
}

.business-brand-title {
  color: #6c4efe;
  font-size: 46px;
  font-weight: 700;
  line-height: 34px;
}

.data-container {
  flex-grow: 1;
  flex-basis: 0;
}

.data-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 41.5px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
}

.data-card {
  list-style: none;
  color: #fff;
  padding: 46px;
  border-radius: 19px;
  background: linear-gradient(
    150deg,
    #10567d 3.15%,
    #1b377e 52.38%,
    #0a3f5c 84.9%
  );
}

.data-item {
  font-size: 24px;
  font-weight: 500;
  line-height: 170%;
}

.card-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.card-content {
  min-height: 50px;
  margin-bottom: 46px;
  width: 302px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
.brand-title {
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  line-height: 100px;
}
.brand-content {
  color: #fff;
  font-size: 16px;
  line-height: 27px;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 4s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.join-team-btn {
  border-radius: 18px;
  background: #000;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  padding: 33px 61px 38px 66px;
  border-style: none;
  text-decoration: none;
}

.disable-on-hover:hover {
  opacity: 0.5;
  filter: grayscale(1);
}

#text-container {
  height: 310px;
}

.token-heading {
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}

#faq {
  padding-left: 120px;
  padding-right: 120px;
  color: #fff;
  background-color: #23252e;
}

.faq-item.active .faq-content {
  display: block !important;
}

.faq-item.active .faq-title > img {
  transform: rotate(180deg);
}

.faq-heading {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 80px;
}

.faq-title {
  border-top: 1px solid #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.faq-content {
  display: none;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.token-sub-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.hiring-title > span {
  color: #6a38fd;
}
.hiring-title {
  font-size: 64px;
  font-weight: 800;
  line-height: 55px;
}

.token-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.token-card {
  margin-bottom: 12px;
  padding: 32px;
  border-radius: 8px;
  background: rgb(234, 234, 243, 0.30000001192092896);
}

.shopping-section-heading {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 100px;
}

.shopping-section-sub-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #171717;
}

.animated-header.earn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@keyframes width-steps {
  1.6666666667%,
  15% {
    width: 0.15625em;
  }
  18.3333333333%,
  31.6666666667% {
    width: 5.046875em;
  }
  35%,
  48.3333333333% {
    width: 3.953125em;
  }
  51.6666666667%,
  65% {
    width: 4.265625em;
  }
  68.3333333333%,
  81.6666666667% {
    width: 4.90625em;
  }
  85%,
  98.3333333333% {
    width: 2.6875em;
  }
}
@keyframes opacity-steps {
  0%,
  16.6666666667% {
    opacity: 0;
  }
  1.6666666667%,
  15% {
    opacity: 1;
  }
}

.animated-header.earn .source {
  display: inline-grid;
  grid-template: 1fr/1fr;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
  width: 0.3125em;
  animation: width-steps 14s ease-in-out infinite;
}
.animated-header.earn .source > span {
  color: #fff;
  grid-area: 1/1;
  opacity: 0;
  animation: opacity-steps 14s ease-in-out infinite;
}
.animated-header.earn .source > span.shopping {
  animation-delay: 2.3333333333s;
}
.animated-header.earn .source > span.google {
  animation-delay: 4.6666666667s;
}
.animated-header.earn .source > span.amazon {
  animation-delay: 7s;
}
.animated-header.earn .source > span.browsing {
  animation-delay: 9.3333333333s;
}
.animated-header.earn .source > span.uber {
  animation-delay: 11.6666666667s;
}
